@model BlogWebApp.ViewModel.DashboardData;
@using BlogWebApp.Models.IdentityModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}

<style>
    .post-item img{
        width: 50px!important;
        height: 52px;
        border-radius: 50%!important;
   
    }
</style>

<div class="container">

    <div class="pagetitle">
        <h1>Dashboard</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.GetUserAsync(User);
            var role = await UserManager.GetRolesAsync(user);
            <div class="row">
                <!-- Dashboard visualization of overall post, comment, and reaction -->
                <div class="col-lg-10">
                    <div class="row row-reverse">
                        <div class="col-xl-12 ms-2 col-md-12 row mb-3">
                            @if (role.FirstOrDefault() == "Admin")
                            {
                                <label class="col-sm-5 col-form-label">(Overall)  Filter By Month</label>
                                <div class="col-sm-6">

                                    <select class="form-select filterTotal" aria-label="Default select example">
                                        @* <option selected value="-1">Select</option> *@
                                        <option selected value="-1">All Time</option>
                                        @* <option value="0">Month</option> *@
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>

                                    </select>
                                </div>
                            }
                        </div>
                    </div>
                    @* this is for overall  *@
                    @if (role.FirstOrDefault() == "Admin")
                    {
                        <div class="row col-xl-12 col-md-12 mb-3">

                            <!-- Sales Card -->
                            <div class="col-xxl-4 col-md-6">
                                <div class="card info-card sales-card mb-2 pb-1 ">

                                    <div class="card-body pb-1">
                                        <h5 class="card-title pb-1"> Total Posts <span>  </span></h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-file-post-fill"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>  @Model.TotalBlogPosts  </h6>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End Sales Card -->
                            <!-- Revenue Card -->
                            <div class="col-xxl-4 col-md-6">
                                <div class="card info-card revenue-card  mb-2 pb-1">

                                    <div class="card-body pb-1">
                                        <h5 class="card-title pb-1">Total Upvotes <span> </span></h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-hand-thumbs-up"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6> @Model.TotalUpvotes  </h6>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End Revenue Card -->
                            <!-- Revenue Card -->
                            <div class="col-xxl-4 col-md-6">
                                <div class="card info-card revenue-card  mb-2 pb-1">

                                    <div class="card-body pb-1">
                                        <h5 class="card-title pb-1">Total Downvotes <span> </span></h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-hand-thumbs-down"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6> @Model.TotalDownvotes  </h6>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End Revenue Card -->
                            <!-- Customers Card -->
                            <div class="col-xxl-4 col-md-6">

                                <div class="card info-card customers-card  mb-2 pb-1">

                                    <div class="card-body pb-1">
                                        <h5 class="card-title pb-1"> Comments <span> </span></h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-chat"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>  @Model.TotalComments</h6>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div><!-- End Customers Card -->

                        </div>
                    }
                    @* this dashboard data for logged in blogger or  *@
                    <div class="row col-xl-12 col-md-12 mb-3">
                        <div class="row col-xl-12 col-md-12">
                            <label class="col-sm-6 col-form-label text-bold">(Individual)  Filter By Month</label>
                            <div class="col-sm-6">
                                <select class="form-select filterBloggerTotal" aria-label="Default select example">
                                    <option selected value="null">All</option>
                                    <option value="0">Month</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>

                                </select>
                            </div>
                        </div>
                        <div class="row mt-3" id="personalDataContainer">

                            <!-- Sales Card -->
                            <div class="col-xxl-4 col-md-6">
                                <div class="card info-card sales-card mb-2 pb-1 ">

                                    <div class="card-body pb-1">
                                        <h5 class="card-title pb-1"> Total Posts <span>  </span></h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-file-post-fill"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6 class="TotalBlogPosts"> 0  </h6>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End Sales Card -->
                            <!-- Revenue Card -->
                            <div class="col-xxl-4 col-md-6">
                                <div class="card info-card revenue-card  mb-2 pb-1">

                                    <div class="card-body pb-1">
                                        <h5 class="card-title pb-1">Total Upvotes <span> </span></h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-hand-thumbs-up"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6 class="TotalUpvotes"> 0 </h6>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End Revenue Card -->
                            <!-- Revenue Card -->
                            <div class="col-xxl-4 col-md-6">
                                <div class="card info-card revenue-card  mb-2 pb-1">

                                    <div class="card-body pb-1">
                                        <h5 class="card-title pb-1">Total Downvotes <span> </span></h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-hand-thumbs-down"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6 class="TotalDownvotes"> 0 </h6>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End Revenue Card -->
                            <!-- Customers Card -->
                            <div class="col-xxl-4 col-md-6">

                                <div class="card info-card customers-card  mb-2 pb-1">

                                    <div class="card-body pb-1">
                                        <h5 class="card-title pb-1">Comments <span> </span></h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-chat"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6 class="TotalComments">  0 </h6>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div><!-- End Customers Card -->
                        </div>


                    </div>
                </div>
                <!-- End Dashboard visualization of overall post, comment, and reaction -->
                <!-- Right side columns -->
                <div class="col-lg-8">
        @if (SignInManager.IsSignedIn(User))
        {
            var user2 = await UserManager.GetUserAsync(User);
            var role2 = await UserManager.GetRolesAsync(user2);
            if (@role2.FirstOrDefault() == "Admin")
            {
                    <div class="card">
                        <div class="filter">
                        </div>
                        <div class="card-body">
                            <div class="row card-title">
                                <label class="col-sm-5 col-form-label"> Top Ten Blogs <span> | </span> </label>
                                <div class="col-sm-6">

                                    <select class="form-select filterBlogs" aria-label="Default select example">
                                        <option selected value="null">All Time</option>
                                        @* <option value="0">Month</option> *@
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>

                                    </select>
                                </div>
                            </div>

                            <div class="news blogs" id="TopBlogs">
                            </div>

                        </div>
                    </div>
                    <!-- Recent Activity -->
                    <div class="card">
                        <div class="filter">
                        </div>

                        <div class="card-body">
                            <div class="row card-title">
                                <label class="col-sm-5 col-form-label"> Top Ten Bloggers <span> |</span> </label>
                                <div class="col-sm-6">

                                    <select class="form-select filterBlogger" aria-label="Default select example">
                                        <option selected value="null">All Time</option>
                                        @* <option value="0">Month</option> *@
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>

                                    </select>
                                </div>
                            </div>

                            <div class="news" id="TopBloggers">
                            </div>

                        </div>
                    </div><!-- End Recent Activity -->

                  }
         }
                </div><!-- End Right side columns -->

            </div>
        }
    </section>

</div>

<link href="~/toastr/css/toastr.css" rel="stylesheet" />
@* <script src="~/lib/jquery/dist/jquery.js"></script> *@
<script src="~/toastr/js/toastr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var filterTotalDD = $(".filterTotal");
        if (filterTotalDD.length > 0) {
            filterTotalDD.on("change", function () {
                var val = $(this).val();
                var selectedUrl = "/dashboard/?month=" + val;
                window.location.href = selectedUrl;
            });
        }


        @* code for upadte selected data*@
             var queryParams = new URLSearchParams(window.location.search);
        var sortOrder = queryParams.get('month');
        var sortSelect = document.querySelector('.filterTotal');

        // Set the value of the select element to the sortOrder value
        if (sortSelect && sortOrder !== null) {
            sortSelect.value = sortOrder;
        }

        function GetDashboardDataforBloggers(month) {
            $.ajax({
                url: `/Dashboard/GetDashboardDataForBlogger?month=${month}`,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    renderDashboardData(data.dashboardData, '#personalDataContainer');
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching dashboard data:', error);
                }
            });
        }

        var month = null;
        GetDashboardDataforBloggers(month);

        var filterTotalBD = $(".filterBloggerTotal");
        if (filterTotalBD.length > 0) {
            filterTotalBD.on("change", function () {
                var month = $(this).val() == "null" ? null : parseInt($(this).val());
                GetDashboardDataforBloggers(month);
            });
        }

        function renderDashboardData(data, containerSelector) {
            $(".TotalBlogPosts").text(data.totalBlogPosts);
            $(".TotalUpvote").text(data.totalUpvote);
            $(".TotalDownvote").text(data.totalDownvote);
            $(".TotalComments").text(data.totalComments);
        }

        GetTopTenBlogger();
        function GetTopTenBlogger(month = null) {
            $.ajax({
                url: `/Dashboard/GetTopBloggerUsers?month=${month}`,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var htmldata = ``;
                    $.each(data, function (index, item) {
                        var image = item.profileUrl == null ? "/Images/defaultPic.jpg" : item.profileUrl;
                        htmldata += `<div class="post-item clearfix">
                                            <img src="/Uploads/${image}" alt="">
                                            <h4><a href="#"> ${item.displayName}</a></h4>
                                            <p> ${item.bio}</p>
                                        </div>`;
                    });

                    $("#TopBloggers").empty().append(htmldata);

                },
                error: function (xhr, status, error) {
                    console.error('Error fetching top bloggers:', error);
                }
            });
        }

        GetTopTenBlogs();
        function GetTopTenBlogs(month = null) {
            $.ajax({
                url: `/Dashboard/GetTopBlogs?month=${month}`,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var htmldata = ``;
                    $.each(data, function (index, item) {
                        var image = item.blogImage == null ? "/Images/defaultPic.jpg" : item.blogImage;
                        htmldata += `<div class="post-item clearfix">
                                            <img src="/Uploads/${image}" alt="">
                                            <h4><a href="/blog-details?id=${item.id}"> ${item.title} </a></h4>
                                            <p class=""> ${item.publishedDate} </p>
                                        </div>`;
                    });

                    $("#TopBlogs").empty().append(htmldata);

                },
                error: function (xhr, status, error) {
                    console.error('Error fetching top bloggers:', error);
                }
            });
        }

        var filterTopBlogger = $(".filterBlogger");
        if (filterTopBlogger.length > 0) {
            filterTopBlogger.on("change", function () {
                var month = $(this).val() == "null" ? null : parseInt($(this).val());
                GetTopTenBlogger(month);
            });
        }

        var filterTopBlogs = $(".filterBlogs");
        if (filterTopBlogs.length > 0) {
            filterTopBlogs.on("change", function () {
                var month = $(this).val() == "null" ? null : parseInt($(this).val());
                GetTopTenBlogs(month);
            });
        }
    });
</script>
