@model BlogWebApp.ViewModel.ChangePasswordVM;

@using BlogWebApp.Models.IdentityModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "User Profile";
}

<div>
    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
               @*  <li class="breadcrumb-item">Users</li> *@
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                            <img src="~/Uploads/@(@user?.ProfileUrl==""? "deafultPic.jpg": @user?.ProfileUrl)" alt="Profile" class="rounded-circle">
                            <h2>@user?.DisplayName</h2>
                            <h3>@user?.Position</h3>
                            @*  <div class="social-links mt-2">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div> *@
                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                                </li>

                                @*   <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                            </li> *@

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                    <h5 class="card-title">About</h5>
                                    <p class="small fst-italic"> @user?.Bio .</p>

                                    <h5 class="card-title">Profile Details</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                        <div class="col-lg-9 col-md-8">@user?.DisplayName</div>
                                    </div>

                                    @*   <div class="row">
                                <div class="col-lg-3 col-md-4 label">Company</div>
                                <div class="col-lg-9 col-md-8">Lueilwitz, Wisoky and Leuschke</div>
                                </div>
                                *@
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Job</div>
                                        <div class="col-lg-9 col-md-8">@user?.Position</div>
                                    </div>
                                    @*
                                <div class="row">
                                <div class="col-lg-3 col-md-4 label">Country</div>
                                <div class="col-lg-9 col-md-8">USA</div>
                                </div> *@

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Address</div>
                                        <div class="col-lg-9 col-md-8"> @user?.Address </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Phone</div>
                                        <div class="col-lg-9 col-md-8"> @user?.PhoneNumber </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8"> @user?.Email </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                    <!-- Profile Edit Form -->
                                    <form asp-action="Edit">
                                        <div class="row mb-3">
                                            <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                            <div class="col-md-8 col-lg-9">
                                                <img id="imagePreview" class="imagePreview" src="~/Uploads/@(@user?.ProfileUrl==""? "deafultPic.jpg": @user?.ProfileUrl)" alt="Profile">
                                                <input id="ProfileUrl" class="d-none" value="@user?.ProfileUrl" style="d-none" />
                                                <input id="Id" class="d-none" value="@user?.Id" style="d-none" />
                                                <input id="input-file"  type="file" accept="image/*" >
                                                <div class="pt-2">
                                                    
                                                    <a href="#" class="btn btn-primary uploadImg btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                    <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="UserName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="UserName" type="text" class="form-control" id="UserName" value="@user?.DisplayName">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                                            <div class="col-md-8 col-lg-9">
                                                <textarea name="Bio" class="form-control" id="Bio" style="height: 100px">
                                                    @user?.Bio
                                                </textarea>
                                            </div>
                                        </div>

                                        @*    <div class="row mb-3">
                                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                                    <div class="col-md-8 col-lg-9">
                                    <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke">
                                    </div>
                                    </div> *@

                                        <div class="row mb-3">
                                            <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="Position" type="text" class="form-control" id="Position" value=" @user.Position">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="Country" type="text" class="form-control" id="Country" value=" @user.Country">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="Address" type="text" class="form-control" id="Address" value=" @user.Address">
                                            </div>
                                        </div>

                                           <div class="row mb-3">
                                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                    <div class="col-md-8 col-lg-9">
                                                <input name="phone" type="text" itemid="PhoneNumber" class="form-control" id="PhoneNumber" value="@user.PhoneNumber">
                                    </div>
                                    </div>

                                        <div class="row mb-3">
                                            <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="email" type="email" class="form-control" id="Email" value=" @user.Email">
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </form><!-- End Profile Edit Form -->

                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    @Html.Partial("_ChangePassword")

                                </div>

                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    }
</div>

<link href="~/toastr/css/toastr.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/toastr/js/toastr.js"></script>

<script>
    $(document).ready(function () { 
        
        @* $(".uploadImg").click(function () { $("#input-file").trigger('change'); }); *@

               
               async function previewImage(input) {
                    var file = $('#input-file')[0].files[0];
                    var reader = new FileReader();
                    var preview = $(".imagePreview");
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                    };
                    reader.readAsDataURL(file);

                    var formData = new FormData();
                    formData.append('file', file);
                    await $.ajax({
                        url: 'File/UploadFile',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            toastr.success('Profile uploaded successfully');
            
                       @* fileLinks.push({ ImageName: file.name, Url: response }); *@
                        },

                        error: function (xhr, status, error) {
                            console.error('Error uploading file:', error);
                        }
                    });
                }

                document.getElementById('input-file').addEventListener('change', function () {
                    previewImage(this);
                });
            }

</script>